<h1>Listing order_details</h1>

<table>
  <thead>
    <tr>
      <th>Order  ID</th>
      <th>Item ID</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= link_to "#{order_detail.order_id}", order_detail_path(order_detail.order_id)  %></td>
        <td><%= link_to 'Show', order_detail %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order detail', new_order_detail_path %>
