<div class='btn-group-vertical nav-collapse'>
	<button class='btn btn-default' type='button' onclick="window.location.href='<%= items_path %>'" > Items </button>
  <button class='btn btn-default' type='button' onclick="window.location.href='<%= customers_path %>'" > Customers </button>
	<button class='btn btn-default' type='button' onclick="window.location.href='<%= users_path %>'" > Gente </button>
</div>