<div class='col-md-6'>
	<h1>Bienvenido a post-T!</h1>
	<p align='justify'> Aún no tenemos nuestra pagina al 100 pero espera, pronto estaremos contigo. </p>
	<h4>¿Qué hay aquí?</h4>
	<p align='justify'> Este espacio esta pensado para jovenes que requieren de tener referencias de maestros para la eleccion de sus horarios. </p>
	<h4>¿Cómo consiguen la información?</h4>
	La información se postea por los mismos usuarios, siempre haciendo comentarios de forma respetuosa. 
	<h4>¿Cómo puedo registrarme?</h4>
	<p align='justify'> Para poder tener una cuenta con nosotros debe llegarte una invitación para poder acceder. </p>
	<h4>¿A quién puedo pedir una invitación?</h4>
	<p align='justify'> No comas ansias, aún vemos eso, son de los detallitos que faltan. </p>
</div>
<div class='col-md-4'>
	<%= image_tag '/pira01.png' %>
</div>